name: "[OpenAEV] Validate PR title Worker"
on:
  pull_request:
    branches: [master, release/current]
    types: [opened, edited, reopened, ready_for_review, synchronize]
permissions:
  contents: read
jobs:
  validate-pr-title:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: "Generate a token"
        id: generate-token
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OPENAEV_PR_CHECKS_APP_ID }}
          private-key: ${{ secrets.OPENAEV_PR_CHECKS_PRIVATE_KEY }}
      - name: "Validate PR title and create check"
        uses: FiligranHQ/filigran-ci-tools/actions/pr-title-check@main
        with:
          token: ${{ steps.generate-token.outputs.token }}
